<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ClosingWidgetProvider"
            android:label="@string/widget_title_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.duapharma.closingwidget.ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/closing_widget_info" />
        </receiver>

        <receiver
            android:name=".SalesWidgetProvider"
            android:label="@string/sales_widget_title_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.duapharma.closingwidget.SALES_ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sales_widget_info" />
        </receiver>

        <receiver
            android:name=".AggregatedWidgetProvider"
            android:label="@string/agg_widget_title_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.duapharma.closingwidget.AGG_ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/aggregated_widget_info" />
        </receiver>

        <receiver
            android:name=".MonthSaleWidgetProvider"
            android:label="@string/month_sale_widget_title_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.duapharma.closingwidget.MONTHSALE_ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/month_sale_widget_info" />
        </receiver>

        <receiver
            android:name=".TotalCreditWidgetProvider"
            android:label="@string/total_credit_widget_title_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.duapharma.closingwidget.TOTALCREDIT_ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/total_credit_widget_info" />
        </receiver>

        <receiver
            android:name=".SectionSummaryWidgetProvider"
            android:label="@string/section_summary_widget_title_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.duapharma.closingwidget.SECTIONSUMMARY_ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/section_summary_widget_info" />
        </receiver>

        <receiver
            android:name=".StaffCreditWidgetProvider"
            android:label="@string/staff_credit_widget_title_label"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.duapharma.closingwidget.STAFFCREDIT_ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/staff_credit_widget_info" />
        </receiver>

    </application>

</manifest>
